entrypoints==0.3
et-xmlfile==1.0.1
eyeD3==0.8.11
flake8==3.7.9
jdcal==1.4.1
mccabe==0.6.1
numpy==1.17.4
openpyxl==3.0.2
pandas==0.25.3
Pillow==8.1.1
pycodestyle==2.5.0
pyflakes==2.1.1
pygeoip==0.3.2
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
six==1.13.0
tqdm==4.39.0
windnd==1.0.5
wxPython==4.0.7.post2
xlrd==1.2.0
yapf==0.29.0
